<div *ngIf="producto; else loading" class="container">
  <button class="volver-button mb-3" (click)="volverAtras()">
    <i class="fas fa-arrow-left"></i> Volver
  </button>
  <div class="title-container text-center mb-4">

  </div>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <div class="image-container">
        <img [src]="limpiarBase64(producto.imagen)" alt="Imagen del Producto">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="product-details">
        <h2 class="fs-2 fw-bold mb-2">{{producto.nombre}}</h2>
        <p class="mb-4 fs-6">Encuentra la mejor computadora para tus necesidades</p>
        <p class="fs-2 fw-bold mb-4">${{ producto.precio }}</p>
        <p class="stock mb-1">En stock ({{ producto.stock }} unidades)</p>
        <p class="text-stock">Precio incluye IGV</p>

        <p class="fs-5 fw-bold">Descripción</p>
        <p class="description">{{ producto.descripcion }}</p>
        <button class="btn-cart-product-details" (click)="agregarAlCarrito(producto.id!)"> <i class="bi bi-cart fs-5 icon-cart"></i>Añadir al Carrito</button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h4 class="fs-4 fw-bold">Comentarios</h4>
      <div class="card mb-4">
        <div class="card-body">
          <div class="form-group">

            <textarea id="nuevoComentario" [(ngModel)]="nuevoComentario" class="form-control" name="nuevo-comentario" placeholder="Escribe tu comentario"></textarea>
          </div>
          <button (click)="agregarComentario()" class="btn-agregar-comentario">Agregar</button>
        </div>
      </div>
      <ul class="list-unstyled">
        <li *ngFor="let comentario of comentarios" class="mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="card-text fs-6 fw-bold">{{ comentario.nombreUsuario }}</p>
                <p class="card-text small text-muted">{{ formatearFecha(comentario.fechaCreacion!) }}</p>
              </div>
              <p *ngIf="!editandoComentario || editandoComentario.id !== comentario.id" class="card-text">{{ comentario.contenido }}</p>
              <textarea *ngIf="editandoComentario && editandoComentario.id === comentario.id" [(ngModel)]="editandoComentario.contenido" class="form-control"></textarea>
              <div class="d-flex justify-content-end mt-2">
                <button *ngIf="isOwner(comentario.usuarioId!)" (click)="editarComentario(comentario)" class="btn p-0 me-2 fs-6 mx-6">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button *ngIf="isOwner(comentario.usuarioId!)" (click)="confirmarEliminarComentario(comentario.id!)" class="btn fs-6 p-0">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
              <div class="d-flex justify-content-end mt-2" *ngIf="editandoComentario && editandoComentario.id === comentario.id">
                <button (click)="guardarComentarioEditado()" class="btn btn-success btn-sm me-2">Guardar</button>
                <button (click)="cancelarEdicion()" class="btn btn-secondary btn-sm">Cancelar</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="text-center mt-5">
    <p>Cargando detalles del producto...</p>
  </div>
</ng-template>
